
<h1 class="text-center">LISTE DES ZONES  </h1>
<table class="table">
  <thead class="bg-dark " >
  <tr class="text-white ">
    <th scope class="text-center py-3">N°</th>
        <th scope class="text-center">Nom Zone</th>
        <th scope class="text-center py-3">Cout Zone</th>
        <th scope class="text-center py-3">ACTION</th>
    </tr>
    </thead>

    <tbody class ="tbody">
        <!---->
    <tr class="elements" *ngFor="let zone of zones ;let i = index " >
        <td  class="text-center">{{(i+1)}}</td>
        <td  class="text-center">{{ zone.nomZone }}</td>
        <td  class="text-center">{{ zone.coutZone }}</td>
        <td  class="text-center">
            <button type="submit"  class="btn btn-success" (click)="cmandeZone(zone)" >Voir Commandes</button>
        </td>
    </tr>
    
    </tbody>
    </table>
