footer {
    text-align: center;
    background-color:  #212f3c ;
    margin-bottom: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
  }
  h1 { 
    font-style: italic;
    color: #fff;
}