<h1>DETAILS DU PRODUIT</h1>
<div class="groupe">
    <div class="container">
        <!-- <h1>DETAILS DU PRODUIT</h1> -->
        <div class="produit">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="description">
                <h3></h3>
                <div class="texte">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptatum illo fuga odit quas
                        aperiam vero impedit voluptates aliquid explicabo temporibus eligendi non, modi vitae dolorum
                        odio
                        nulla dicta ipsam maiores commodi ad sunt! Nostrum labore nulla architecto minus officia
                        voluptatem
                        quam dolorem ullam recusandae assumenda! !</p>
                </div>
            </div>
        </div>


    </div>

</div>
