<div class="fritte-toto" >

    <div class="card-body" >
        <div>
            <h5 class="title">Fritte</h5>
            <img src="assets/images/fritte.jpeg" class="card-img"  > 
        </div>
        <div>
            <input type="checkbox" class="">
        </div>
       <!--- <p class="card-text">Description</p>-->      
    
    </div>
    <div class="card-body" >
        <div>
            <h5 class="title">Fritte</h5>
            <img src="assets/images/fritte.jpeg" class="card-img"  > 
        </div>
        <div>
            <input type="checkbox" class="">
        </div>
       <!--- <p class="card-text">Description</p>-->      
    
    </div>
    <div class="card-body" >
        <div>
            <h5 class="title">Fritte</h5>
            <img src="assets/images/fritte.jpeg" class="card-img"  > 
        </div>
        <div>
            <input type="checkbox" class="">
        </div>
       <!--- <p class="card-text">Description</p>-->      
    
    </div>
    <div class="card-body" >
        <div>
            <h5 class="title">Fritte</h5>
            <img src="assets/images/fritte.jpeg" class="card-img"  > 
        </div>
        <div>
            <input type="checkbox" class="">
        </div>
       <!--- <p class="card-text">Description</p>-->      
    
    </div>
    <div class="card-body" >
        <div>
            <h5 class="title">Fritte</h5>
            <img src="assets/images/fritte.jpeg" class="card-img"  > 
        </div>
        <div>
            <input type="checkbox" class="">
        </div>
       <!--- <p class="card-text">Description</p>-->      
    
    </div>
    <div class="card-body" >
        <div>
            <h5 class="title">Fritte</h5>
            <img src="assets/images/fritte.jpeg" class="card-img"  > 
        </div>
        <div>
            <input type="checkbox" class="">
        </div>
       <!--- <p class="card-text">Description</p>-->      
    
    </div>

  </div>