

<p></p>


<section class="h-100 h-custom" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2"
          style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center
                    mb-5">
                    <!--
                    <h4 *ngIf="cartItems.length ===0" class="cardheader ml-4"> votre panier est vide </h4> 
                    <h4 *ngIf="cartItems.length >=1" class="cardheader ml-4"> votre panier est vide </h4> 
                        -->
                    <h1 class="fw-bold mb-0 text-black">VOTRE PANIER</h1>
                    <h6 class="mb-0 text-muted">3 Burgers</h6>
                  </div>
                  <hr class="my-4">

                  <div class="row mb-4 d-flex justify-content-between
                    align-items-center" *ngFor="let burger of (items$ | async)">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/assets/images/images.jpeg"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted"></h6>

                      <h6 class="text-black mb-0">{{burger.nomProduit}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>
                      <!---->
                      <input id="form1" min="0" name="quantity" value="{{burger.qantiteCommander}}"
                        type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">

                      <h6 class="mb-0">{{burger.qantiteCommander*burger.prix}}</h6>

                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">

                      <h6 class="mb-0">{{burger.prix}}</h6>

                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a class="text-muted" ><i class="fas fa-times" (click)="removeFromPanier(burger)"></i></a>
                    </div>
                    
                  </div>

                  <hr class="my-4">




                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Sommaire</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Nombre</h5>
                    <h5>€ 132.00</h5>
                  </div>

                  <h5 class="text-uppercase mb-3"></h5>
<!--
                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- 5.00 Ffca</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div>
-->
                  <h5 class="text-uppercase mb-3">Entrez votre code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" class="form-control
                        form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Votre code
                        Ici</label>
                    </div>
                  </div>

                 <!-- <hr class="my-4">-->
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total prix</h5>
                    <h5>{{somm}}</h5>
                  </div>

                  <button type="button" class="btn btn-danger btn-block btn-lg"
                    data-mdb-ripple-color="dark" (click)="sendCommande()">Commander</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>



<!--
<div class="container px-3 my-5 clearfix">
   Shopping cart table 
  <div class="card">
      <div class="card-header">
          <h2>Shopping Cart</h2>
      </div>
      <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered m-0">
              <thead>
                <tr>
                   Set columns width 
                  <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                  <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                  <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                  <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                  <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                </tr>
              </thead>
              <tbody>
      
                <tr>
                  <td class="p-4">
                    <div class="media align-items-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                      <div class="media-body">
                        <a href="#" class="d-block text-dark">Product 1</a>
                        <small>
                          <span class="text-muted">Color:</span>
                          <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#e81e2c;"></span> &nbsp;
                          <span class="text-muted">Size: </span> EU 37 &nbsp;
                          <span class="text-muted">Ships from: </span> China
                        </small>
                      </div>
                    </div>
                  </td>
                  <td class="text-right font-weight-semibold align-middle p-4">$57.55</td>
                  <td class="align-middle p-4"><input type="text" class="form-control text-center" value="2"></td>
                  <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>
                  <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                </tr>
      
                <tr>
                  <td class="p-4">
                    <div class="media align-items-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                      <div class="media-body">
                        <a href="#" class="d-block text-dark">Product 2</a>
                        <small>
                          <span class="text-muted">Color:</span>
                          <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background:#000;"></span> &nbsp;
                          <span class="text-muted">Storage: </span> 32GB &nbsp;
                          <span class="text-muted">Warranty: </span> Standard - 1 year &nbsp;
                          <span class="text-muted">Ships from: </span> China
                        </small>
                      </div>
                    </div>
                  </td>
                  <td class="text-right font-weight-semibold align-middle p-4">$1049.00</td>
                  <td class="align-middle p-4"><input type="text" class="form-control text-center" value="1"></td>
                  <td class="text-right font-weight-semibold align-middle p-4">$1049.00</td>
                  <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                </tr>
      
                <tr>
                  <td class="p-4">
                    <div class="media align-items-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                      <div class="media-body">
                        <a href="#" class="d-block text-dark">Product 3</a>
                        <small>
                          <span class="text-muted">Ships from: </span> Germany
                        </small>
                      </div>
                    </div>
                  </td>
                  <td class="text-right font-weight-semibold align-middle p-4">$20.55</td>
                  <td class="align-middle p-4"><input type="text" class="form-control text-center" value="1"></td>
                  <td class="text-right font-weight-semibold align-middle p-4">$20.55</td>
                  <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                </tr>
      
              </tbody>
            </table>
          </div>
           / Shopping cart table 
      
          <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
            <div class="mt-4">
              <label class="text-muted font-weight-normal">Promocode</label>
              <input type="text" placeholder="ABC" class="form-control">
            </div>
            <div class="d-flex">
              <div class="text-right mt-4 mr-5">
                <label class="text-muted font-weight-normal m-0">Discount</label>
                <div class="text-large"><strong>$20</strong></div>
              </div>
              <div class="text-right mt-4">
                <label class="text-muted font-weight-normal m-0">Total price</label>
                <div class="text-large"><strong>$1164.65</strong></div>
              </div>
            </div>
          </div>
      
          <div class="float-right">
            <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</button>
            <button type="button" class="btn btn-lg btn-primary mt-2">Checkout</button>
          </div>
      
        </div>
    </div>
</div> -->
