<div class="border border-3">
       
    <img src="/assets/images/images.jpeg" alt="">
    <h2 class="fs-2">{{ menu.menuBurgers}}</h2>
    <div class="d-flex">
        <p class="prix "> {{ menu.image }}</p>
        <p class="prix "> {{ menu.menuTailleBoissons}}</p>
        <p class="prix "> {{ menu. description }}</p>
        <p class="prix "> {{ menu. prix}}</p>
    <p class="desc">{{ menu.nomProduit}}</p>
     </div>
    
    <div class="d-flex">
        <button class="btn-primary">  VOIR DETAILS </button>
        <button class="details" routerLink="details_burger">Ajouter Au panier</button>
    </div>
  
</div>
