.form-group{
    // border: 1px solid rgb(0, 21, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 43vh;
    // background-color: bisque;
  }
  
